<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASParallaxImageViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17CC707A1BD2A13F00F7024D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CC70931BD2A14000F7024D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CC709E1BD2A14000F7024D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
